[Unit]
Description=EXP Gest System Backend
After=network.target

[Service]
Type=simple
User=hung
WorkingDirectory=/home/hung/Exp-Gest-System/backend
ExecStart=/usr/bin/python3 -m uvicorn main:app --host 0.0.0.0 --port 5008
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
